@import "../../styles/_variables";

.faqWrapper {
    background-color: $primaryColor;
    padding: $verticalPaddingLg;
    .title {
        text-align: center;
        padding-bottom: 3rem;
        color: $white;
        font-weight: 700;
        font-size: $headingSize;
    }
    .faqRow {
        color: $white;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        place-items: center;
        padding: $horizontalPaddingLg;
        .faqCol {
            width: 80%;
            margin-bottom: 60px;
            h1{
              font-size: $textSizeLg;
              margin-bottom: 28px;
            }
            p{
              font-size: $textSizeSm;
            }
        }
    }
}
