@import "../../styles/_variables";

.herosection {
  background-color: $primaryColor;
  padding-top: 6rem;
  padding-bottom: 16rem;
  .heading {
    width: 100%;
    height: 376px;

    .dragon {
      h1 {
        color: $white;
        width: 798px;
        height: 216px;

        font-family: "Gotham";
        font-style: normal;
        font-weight: 700;
        font-size: $headingSize;
      }
      .best {
        color: $secondaryColor;
      }
    }
    .dragonDetail {
      margin-top: 0;
      p {
        width: 100%;
        height: 137px;
        color: $white;
        font-family: "Gotham";
        font-style: normal;
        font-weight: 400;
        font-size: $textSizeSm;
      }
    }

    .signupDragon {
      width: 284px;
      height: 68px;
      font-family: "Gotham";
      font-style: normal;
      font-weight: 700;
      font-size: $textSize;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $cgBlue;
      color: $vector;
    }
  }
  .imageBackground {
    width: 420px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondaryColor;
    border-radius: 50%;
    position: relative;
    @media #{$xl} {
      width: 350px;
      height: 350px;
    }
    .imageWrapper {
      width: 100%;
      height: 470px;
      position: absolute;
      left: -20px;
      bottom: -2px;
      @media #{$xl} {
        height: 400px;
      }
      .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
