@import "../../styles/_variables";

.importantDragonWrapper {
  background-color: $background;
  margin-bottom: 1rem;
  .importantDragon {
    text-align: center;
    h1 {
      color: $white;
      font-family: "Gotham";
      font-style: normal;
      font-weight: 700;
      font-size: $headingSize;
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      color: $white;
      width: 100%;
      padding-left: 15rem;
      padding-right: 15rem;
    }
  }
  .important {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    .wraper {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: $textSize;
      width: 248px;
      height: 62px;
      background: $secondaryColor;
      border-radius: 6px;
    }
    .wrap {
      width: 248px;
      height: 62px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 31px;
      background: $cgBlue;
      border-radius: 6px;
    }
  }
}
