@import "../../styles/_variables";

.clientWrapper {
<<<<<<< HEAD
  width: 100%;
  background-color: $background;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 4rem;
    .imageWrapper {
      width: 66px;
      height: 66px;
      .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    h1 {
      color: $white;
      font-weight: 700;
      font-size: $headingSize;
    }
  }
  .cardWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      background-repeat: no-repeat;
      background-color: $white;
      border-radius: 15px;
      width: 31%;
      height: 260px;
      padding: 1rem;
      &:nth-child(even) {
        background-repeat: no-repeat;
        background-color: $secondaryColor;
        color: $white;
      }
      .commentWrapper {
        .comment {
          font-weight: 700;
          font-size: $textSizeSm;
          position: relative;
          z-index: 10;
          top: -18px;
          left: 60px;
          width: calc(100% - 15%);
        }
      }
      .clientDetails {
=======
    width: 100%;
    background-color: $primaryColor;
    .title {
>>>>>>> 02a6ad8a74e4352288b79e7a248a843ddf26ae29
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        .clientName {
          h1 {
            font-weight: 700;
            font-size: $textNormal;
          }
          p {
            font-style: italic;
            font-weight: 500;
            font-size: 12px;
          }
        }
      }
      // it's only for testing purpose
      @media ($sm) {
        width: 100%;
        height: 200px;
        border-radius: 8px;
        margin: 1rem;
      }
    }
  }
}
