// Color variables
$primaryColor: #272727;
$secondaryColor: #078a93;
$prussianBlue: #002e48;
$azure: #0085ff;
$cgBlue: #0a7da1;
$footerColor: #5959598a;
$white: #ffffff;
$red: #ff0000;
$background: #181818;
$headingSize: 70px;
$textSize: 28px;
$textSizeSm: 20px;
$vector: #f5f5f5;
$vectorbackground: #252525;
// Responsive variables

$xxl: "(min-width: 1600px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm: "(max-width: 767px)";
$lsm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xsm: "(max-width: 575px)";
$tiny: "(max-width: 399px)";
